{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <div class="content-center">
        <main>
            <div>
                {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" alt="{{ .Site.Params.Portrait.Alt }}" width="{{ .Site.Params.Portrait.MaxWidth }}" height="{{ .Site.Params.Portrait.MaxHeight }}" style="border-radius:50%;height:auto;display:block;margin:auto" fetchpriority="high" />
                {{ end }}

                <h1>{{ .Site.Title }}</h1>

                {{ partial "subtitle.html" . }}

                {{- with .Site.Params.social }}
                    <div>
                        {{ partial "social-icons.html" . }}
                    </div>
                {{- end }}
            </div>
        </main>
    </div>
{{ end }}
